* {
    color: var(--text);
}

.body, html {
    background-color: var(--background);
    min-height: 100vh;
}

button {
    background-color: var(--button-background);
}
button:hover {
    background-color: var(--button-background-hover);
}
button:active {
    background-color: var(--button-background-active);
}

.accountForm {
    position: relative;
    margin-top: 10vh;
    max-width: 20vw;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    background-color: var(--form-background);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}
.accountHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.accountEditButton {
    position: absolute;
    top: 25px;
    right: 10px;
    cursor: pointer;
    color: var(--text);
}


.accountEditButton:hover {
    color: var(--focus);
}
/*
Custom Dropdown code
*/
.dropdownButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    color: var(--text);
    cursor: pointer;
}

.dropdownButton:hover {
    color: var(--focus);
}

.dropdownIcon {
    font-size: 14px;
}
/*
Custom Button code
*/
.custom-button {
    margin-top: 2vh;
    padding: 10px 20px;
    color: var(--background);
    background-color: var(--text);
    border: none;
    border-radius: 10px;
    font-size: 16px;
    width: 100%;
    cursor: pointer;
}

.custom-button:hover {
    background-color: var(--focus);
}
