.headerContainer {
  width: 100%;
  background-color: lightgray;
  padding: 1rem 2rem;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.leftLinks {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}

.middleLinks {
  flex: 1;
  display: flex;
  justify-content: center;
}

.middleLinks > a {
  margin: 0 1rem;
}

.rightLinks {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.logoutLink {
  all: unset;
  cursor: pointer;
  margin-left: 1rem; /* Spacing between LanguageSwitcher and Logout button */
}

.accountLink,
.logoutLink,
.pcBuilderLink,
.ordersLink {
  margin: 0 1rem;
  text-decoration: none;
  color: black;
}

.pcBuilderLink,
.ordersLink {
  margin: 0 1rem;
}
