.inputFieldContainer {
  margin: 0;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.inputFieldTitle {
  font-size: 16px;
  margin-bottom: 0;
  color: var(text);
}

.iconAndInputWrapper {
  display: 100%;
  display: flex;
  flex-direction: row;
}

.inputField {
  width: 90%;
  margin: 0;
  font-size: 16px;
  padding: 5px 0;
  border: none;
  border-bottom: 1px solid var(--background);
  outline: none;
  color: var(--text);
  background: transparent;
  transition: border-color 0.3s ease;
}

.faEye {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.focused {
  border-bottom-color: var(--focus);
}

.editable {
  cursor: text;
}

.nonEditable {
  cursor: not-allowed;
  opacity: 0.6;
}
