.container {
    width: 100%;
    border: 1px solid var(--border);
    border-radius: 15px;
    background-color: var(--form-background);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1.25rem;
}

.content p {
    margin: 0.5rem 0 0 0;
}

@media (max-width: 25cm) {
    .container {
        max-width: 95vw;
        padding: 1rem;
    }
}