.container {
    margin-top: 1rem;
    max-width: 70vw;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    background-color: var(--form-background);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

.content {
    width: 100%;
    text-align: center;
}

.content h2 {
    margin-bottom: 1rem;
    font-size: 1.8rem;
    color: var(--text-primary);
}

.content p {
    margin: 0.5rem 0;
    font-size: 1rem;
    color: var(--text-secondary);
}

@media (max-width: 25cm) {
    .container {
        max-width: 95vw;
        padding: 1rem;
    }
}

@media (max-width: 15cm) {
    .content h2 {
        font-size: 1.5rem;
    }

    .content p {
        font-size: 0.9rem;
    }
}
